<div class="settings">
  <button class="settings__back">
    <svg class="settings__back-icon" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
      <circle cx="14" cy="14" r="14" transform="rotate(-180 14 14)" fill="#3369F3"/>
      <rect x="20" y="14.8" width="11" height="1.6" transform="rotate(-180 20 14.8)" fill="white"/>
      <path d="M13 19L9 14L13 9" stroke="white" stroke-width="1.6"/>
    </svg>
  </button>
  <div class="settings__main">
    {{{changeAvatarModal}}}
    <button class="settings__avatar" onclick="window.changeAvatarModal.showModal()">
      <img src="{{avatar}}" width="130" height="130" alt="аватар пользователя" />
    </button>
    <h3 class="settings__name">{{name}}</h3>
    {{#if editable}}
      <form>
    {{/if}}
      <ul class="settings__list">
        {{#each info}}
          <li class="settings__list-item">
            <div class="settings__item">
              <h4 class="settings__item-label">{{this.label}}</h4>
              {{#if ../editable}}
                <input type="text" onblur="{{validationInput()}}" class="settings__item-value" name="{{this.name}}" value="{{this.value}}" placeholder="{{this.placeholder}}" />
              {{else}}
                <p class="settings__item-value">{{this.value}}</p>
              {{/if}}
            </div>
          </li>
        {{/each}}
      </ul>
    {{#if editable}}
        <div class="settings__actions">
          {{{SaveButton}}}
        </div>
      </form>
    {{else}}
      <ul class="settings__list">
        <li class="settings__list-item">
          <a href="" page="change-data" class="settings__action">Изменить данные</a>
        </li>
        <li class="settings__list-item">
          <a href="" page="change-password" class="settings__action">Изменить пароль</a>
        </li>
        <li class="settings__list-item">
          <button class="settings__action settings__action--primary">Выйти</button>
        </li>
      </ul>
    {{/if}}
  </div>
</div>
